body {
  background-color: coral;
  font-family: futura;
}

#dino-pen {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.dino {
  border: 3px dotted skyblue;
  width: 300px;
  margin: 10px;
  padding: 10px;
}

#assignment-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cards {
  border: 3px solid gray;
  width: 300px;
  margin: 10px;
  padding: 10px;
}

.cards p {
  font-size: 12px;
}
